@font-face {
    font-family: "DIN Condensed";
    src: url("assests/fonts/FF_DIN_Condensed_Bold.woff") format("woff");
    font-weight: 700; 
}
@font-face {
    font-family: "DIN";
    src: url("assests/fonts/FF_DIN_Regular.otf") format("otf");
    font-weight: 400; 
}
@font-face {
    font-family: "DIN";
    src: url("assests/fonts/FF_DIN_Medium.otf") format("otf");
    font-weight: 500; 
}
@font-face {
    font-family: "DIN";
    src: url("assests/fonts/FF_DIN_Bold.otf") format("otf");
    font-weight: 600; 
}
@font-face {
    font-family: "DIN";
    src: url("assests/fonts/FF_DIN_Black.otf") format("otf");
    font-weight: 700; 
}

.wrap {
    width: 1200px;
    margin: 0 auto;
}

a {
    text-decoration: none;
    color: white;
}

img {
    max-width: 100%;
}

body {
    margin: 0;
    color: white;
    font-family: "DIN Condensed", Helvetica, Arial, sans-serif;
    background-image: url(assests/images/background-stars.jpeg);
    padding-top: 224px;
}

.header {
    position: fixed;
    z-index: 101;
    margin: 0;
    top: 0;
    left: 0;
    width: 100%;
    background-image: url(assests/images/bg-stars-header.jpg);
}
.header-body {
    position: relative;
    padding: 20 20px;
    text-align: center;
}    

.search {
    display: inline-block;
    position: absolute;
    right: 0;
    top: 10px;
    box-sizing: border-box;
    border-radius: 4px;
    background-color: #343434;
    box-shadow: none;
    width: auto;
    min-width: 248px;
    margin: auto;
    height: 40px;
    color: #aaa;
    font-weight: 600;
    font-size: 16px;
}

.search button {
    background-image: url(assests/images/icon_search.svg);
    background-color: transparent;
    height: 20px;
    width: 20px;
    border: none;
    padding: 3px;
}

.search input {
    height: 100%;
    background-color: transparent;
    border: none;
    padding-left: 12px;
    color:white;
}

.search input:focus {
    outline: none;
}

.creditentials {
    text-align: right;
    font-size: .875em;
    padding-top: 7px;
    letter-spacing: 2px;
    line-height: 1.375rem;
    text-decoration: none;
    color: #343434;
    font-family:"DIN Condensed";
}

.creditentials a {
    color: #999;
}

.creditentials a:hover {
    color: white;
}

.navbar {
    display: flex;
    text-align: top;
    background-color: #000;
    border-top: 1px solid #343434;
    border-bottom: 1px solid #343434;
    justify-content: center;
}

.navbar a {
    display: flex;
    font-family: "DIN Condensed";
    height: 46px;
    font-weight: 700;
    border-left: 1px solid #333;
    color: #aaa;
    letter-spacing: 1px;
    /* line-height: 16px; */
    position: relative;
    font-size: 14px;
    text-decoration: none;
    padding: 0 32px;
    align-items: center;
    text-transform:uppercase;
}

.navbar a:last-child {
    border-right: 1px solid #333;
}

.social {
    display: flex;
    position: absolute;
    top: 18px;
    left: 12px;
}

.social a {
    display: flex;
    height: 20px;
    width: 20px; 
    padding: 0 8px;
}
.kids {
    display: flex;
    position: relative;
}

.kids:after {
    display: block;
    border-radius: 16px;
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    width: 100%;
    height: 100%;
    background-color: #7a7a7a;
}
.kids a {
    width: 0;
    height: 20px;
}

.social img {
    max-width: 100%;
    max-height: 100%;
}

.logo {
    max-width: 100%;
    display: block;
    top: 50%;
    width: 100%;
    max-width: 203px;
    height: 100%;
    max-height: 88px;
    margin: 18px auto 0;
    box-sizing: border-box;
}

.banner-stream {
    display: flex;
    position: relative;
    z-index: 10;
    background-color: #0A0B0B;
    align-content: center;
    font-family: "DIN Condensed";
    margin: auto;
    justify-content: center;
}

.banner-stream h2 {
    display: block;
    margin-top: 12px;
    font-size: 13.936px;
    color: rgb(153, 153, 153);
    text-align: center;
    font-weight: 400;
    text-transform: uppercase;
    letter-spacing: 1px;
}

.banner-stream img {
    height: 26px;
    margin-left: 8px;
}

.slider a {
    display: inline-block;
    position: relative;
    background-color: rgb(255, 228, 0);
    color: rgb(0, 0, 0);
    border-color: rgb(255, 228, 0);
    letter-spacing: .025rem;
    font-size: 16px;
    border-radius: 4px;
    margin: 0 20px 0 0;
    padding: 10px 32px 7px;
    font-weight: 600;
    width: 70px;
    text-align: center;
    text-transform:uppercase;
}

.slider {
    position: relative;
    align-content: center;
}

.slider-buttons button {
    position: absolute;
    width: 42px;
    height: 44px;
    display: block;
    border: none;
    cursor: pointer;
    top: 49.1%;
    z-index: 10;
    margin-top: -24px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    -webkit-transition: opacity 333ms;
    -moz-transition: opacity 333ms;
    transition: opacity 333ms;
    background: url(https://static-mh.content.disney.io/starwars/assets/utility/arrows/square_arrow-81b2a8828cce.svg) center no-repeat;
    background-size: 10px 20px;
    background-color: #202020;
    border-radius: 2px;
}

.slider-buttons button:last-child {
    left: auto;
    right: 0;
    transform: scale(-1, 1);
}

.slide-content {
    position: absolute;
    z-index: 2;
    bottom: 50px;
    left: 80px;
    width: 374px;
    font-size: 20px;
    margin-bottom: 40px;
}

.slide-content p {
    margin-bottom: 20px;
}

.slide {
    position: relative;
    padding-bottom: 42.48%;
}

.slide > img {
    position: absolute;
    z-index: 1;
    height: 100%;
    width: 100%;
}


.slide-nav {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    display: flex;
    justify-content: center;
}
.slide-nav-item {
    width: 200px;
    height: 80px;
    position: relative;
    overflow: hidden;
    cursor: pointer;
    color: #aaa;
    transition: all 300ms;
    margin-left: 14px;
}
.slide-nav-item:hover {
    color: white;
}
.slide-nav-item:first-child {
    margin-left: 0;
}

.slide-nav-item p {
    position: relative;
    padding: 16px;
    margin: 0;
    text-transform: uppercase;
    font-weight: 700;
    font-size: 14px;
    z-index: 1;
}
.slide-nav-item:after {
    position: absolute;
    background: #1a1a1a;
    opacity: 0.85;
    top: 0;
    content: '';
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 0;
}
.slide-nav-item img {
    position: absolute;
    top: 0;
    filter: blur(3px);
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.slide-preview {
    /* display: flex;
    font-size: 0.875rem;
    line-height: 1rem;
    letter-spacing: 0.4px;
    font-weight: 700;
    width: 100%;
    position: absolute;
    bottom: 0;
    z-index: 2;
    justify-content: center;
    transition: opacity 250ms; */
}

.slide-preview p {
    /* display: block;
    flex-direction: row;
    font-family: "DIN Condensed";
    text-transform: uppercase; */
}

.slide-preview img {
    /* display: inline-block;
    position: absolute; */

}
.this-week-banner {
    width: 302px;
}

.mandoscene {
    display: block;
    width: 510px;
    vertical-align: bottom;
    position: relative;
}

.h3 {
    width: 100%;
    font-size: 24px;
    text-align: left;
    letter-spacing: .2px;
    font-family: "DIN Condensed";
}

.explore {
    max-width: 1200px;
    margin-top: 20px;
}

.explore-top {
    width: 100%;
    height: 0;
    padding-bottom: 42.8%;
    position: relative;
}

.explore-top-bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.explore-content {
    position: absolute;
    bottom: 50px;
    top: 120px;
    left: 80px;
    width: 374px;
    font-size: 20px;
}

.explore-content p {
    display: block;
    margin-top: 10px;
    font-family: "DIN Condensed";
    line-height: 24px;
}

.button-two {
    background-color: rgb(158, 69, 0);
    color: rgb(255, 255, 255);
    border-color: rgb(158, 69, 0);
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025rem;
    border: 1px solid rgb(158, 59, 0);
    border-radius: 4px;
    justify-items: center;
}
.button-three {
    background-color: rgb(36, 36, 36, 0.8);
    color: rgb(255, 255, 255);
    border-color: white;
    padding: 10px 32px 7px;
    font-size: 16px;
    font-weight: 700;
    letter-spacing: 0.025rem;
    border: 1px solid white;
    border-radius: 4px;
    text-align: center;
    display: inline-block;
}

.explore-bottom {
    background-image: url(assests/images/explorebottombackground.webp);
    display: flex;
    justify-content: center;
    background-color: #341405;
    background-size: 100% auto;
    background-position: top;
    background-repeat: no-repeat;
}


.explore-bottom-box img {
    width: 267px;
    height: 150px;
}

.explore-bottom-box {
    display: flex;
    width: 512px;
}

.explore-bottom-box:last-child {
    margin-left: 16px;
}

.explore-bottom-box p {
    display: flex;
    font-size: 20px;
    background-color: rgba(26,26,26,0.9);
    height: 110px;
    margin-top: 0;
    line-height: 24px;
    padding-top: 40px;
    padding-left: 12px;
    align-items: center;
    font-family: "DIN Condensed";
    font-weight: 700;
}


.news-blog-link {
    display: inline;
    background-color: rgba(26, 26, 26, 0.9);
    font-size: 20px;
    letter-spacing: .2px;
}

.news-blog {
    width: 267px;
    height: 150px;
}

.empire40 {
    max-width: 1200px;
    width: 100%;
    margin-top: 40px;
}

.activities {
    position: relative;
    width: 100%;
    margin-top: 20px;
    text-align: center;
}